<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/public/css/style.css">
    <title>Document</title>
</head>
<body>
    <h1 class="type-one">EJS ŞABLONU</h1>
    <h4>header</h4>
    
    
        <%- body %> 


    <h4>footer</h4>
    
</body>
</html>